<!-- <div class="container">
  <div class="row">
    <div class="calendary">
      <div
        class="day"
        style="background-image: url('assets/images/calendar.svg')"
      >
        <div class="day-number">{{ eventDaty.day }}</div>
        <div class="day-date">{{ eventDaty.date }}</div>
      </div>
      <div
        class="place"
        style="background-image: url('assets/images/ubication.svg')"
      >
        <div class="day-number">{{ eventDaty.place }}</div>
      </div>
    </div>
    <div class="event-description">
      <div *ngFor="let event of visibleEvents; let i = index">
        <div
          class="card-description"
          [ngClass]="{ even: i % 2 === 0, odd: i % 2 !== 0 }"
        >
          <p>{{ event.description }}</p>
          <span>🕒 {{ event.time }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="button-space">
    <button
      *ngIf="eventDaty.event.length > itemsToShow"
      (click)="showMore()"
      class="primary-button"
    >
      {{ showingAll ? "VER MENOS DETALLES" : "VER MÁS DETALLES" }}
    </button>
  </div>
</div> -->
<div class="timeline-container">
  <div class="timeline-header">
    <h3>{{ eventDaty.day }} {{ eventDaty.date }}</h3>
    <h3>{{ eventDaty.place }}</h3>
  </div>

  <div class="timeline-wrapper">
    <div class="timeline">
      <div class="timeline-line"></div>
      <div
        *ngFor="let item of eventDaty.event; let i = index"
        class="timeline-item"
        [class.timeline-item-alt]="i % 2 === 0"
      >
        <div class="timeline-dot"></div>

        <div class="timeline-content">
          <div class="time-badge">
            {{ item.time }}
          </div>
          <div class="description-card" [innerHTML]="item.description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
