<div class="container">
  <div class="container-general">
    <div class="text">
      <div class="general">
        {{ config.i18n.description }}
      </div>
      <div class="titleBlue">
        {{ config.i18n.titleBlue }}
      </div>

      <div class="titleOrange">
        {{ config.i18n.tileOrange }}
      </div>
      <div class="info">
        {{ config.i18n.infoData }}
      </div>
    </div>
    <div class="images"></div>
    <div class="data-event"></div>
  </div>
  <div class="line"></div>
</div>
