.general {
  font-size: 0.75rem;
  color: var(--primary-color);
  font-weight: bold;
}

.titleBlue {
  font-size: 1.5rem;
  color: var(--color-blue);
  font-weight: bold;
}

.titleOrange {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.info {
  font-size: 1rem;
  color: var(--color-gray);
}

.text {
  margin-top: 5%;
  width: 100%;
  padding: 1%;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.line {
  height: 0px;
}

.photo-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  gap: 1%;
  width: 940px;
  /* Ancho total de las 3 imágenes con el gap */
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1%;
  margin-top: 1%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel-image {
  width: 32%;
  height: 20%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-button.left {
  left: -40px;
}

.carousel-button.right {
  right: -40px;
}

.container {
  padding: 0 2%;
}

@media (max-width: 768px) {

  .photo-carousel {
    width: 100%;
  }

  .carousel-container {
    width: 100%;
    gap: 2%;
  }

  .row {
    justify-content: center;
    gap: 2%;
  }

  .carousel-image {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .photo-carousel {
    width: 100%;
  }

  .carousel-container {
    width: 90%;
    gap: 3%;
  }

  .row {
    flex-direction: column;
    gap: 5%;
  }

  .carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .carousel-button {
    font-size: 1.5rem;
  }

  .carousel-button.left {
    left: 10px;
  }

  .carousel-button.right {
    right: 10px;
  }

  .title {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1%;
  }

  .text {
    text-align: center;
  }
}