<div id="events" class="container">
  <div class="container-general">
    <div class="text">
      <div class="general">
        {{ config.i18n.description }}
      </div>
      <div class="title">
        <div class="titleBlue">
          {{ config.i18n.titleBlue }}
        </div>
        <div class="titleOrange">
          {{ config.i18n.titleOrange }}
        </div>
      </div>
      <div class="info">
        {{ config.i18n.infoData }}
      </div>
    </div>
  </div>
  <div class="line"></div>
</div>
