.general {
  font-size: 0.75rem;
  color: var(--primary-color);
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 0.65rem;
  }

  @media (max-width: 480px) {
    font-size: 0.6rem;
  }
}

.titleBlue {
  font-size: 1.5rem;
  color: var(--color-blue);
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.info {
  font-size: 0.75rem;
  color: var(--color-gray);

  @media (max-width: 768px) {
    font-size: 0.65rem;
  }

  @media (max-width: 480px) {
    font-size: 0.6rem;
  }
}

.text {
  margin-top: 5%;
  width: 100%;
  padding: 1%;
  text-align: center;

  @media (max-width: 768px) {
    padding: 2%;
  }

  @media (max-width: 480px) {
    padding: 5%;
  }
}

.speakers-carousel {
  overflow: hidden;
  width: auto;
  padding: 0 6%;

  @media (max-width: 768px) {
    padding: 0 2%;
  }

  @media (max-width: 480px) {
    padding: 0 17%;
  }

}

.carousel-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 250px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}