<div id="speakers" class="container">
  <div class="container-general">
    <div class="text">
      <div class="general">
        {{ config.i18n.description }}
      </div>
      <div class="titleBlue">
        {{ config.i18n.title }}
      </div>
      <div class="info">
        {{ config.i18n.infoData }}
      </div>
    </div>
  </div>

  <div
    class="speakers-carousel"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp()"
    (mouseleave)="onMouseUp()"
  >
    <div class="carousel-container">
      <div
        class="carousel-wrapper"
        [style.transform]="'translateX(' + translateValue + 'px)'"
      >
        <div *ngFor="let speaker of speakers" class="carousel-slide">
          <app-card-speaker [speaker]="speaker"></app-card-speaker>
        </div>
      </div>
    </div>
  </div>
</div>
