<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
</style>
<header class="fixed-header">
  <app-menu></app-menu>
</header>
<app-banner></app-banner>
<app-general></app-general>
<app-sponsor></app-sponsor>
<app-speakers></app-speakers>
<app-info></app-info>
<app-schedule></app-schedule>
<app-past-event></app-past-event>
<router-outlet></router-outlet>
<footer>
  <app-footer></app-footer>
</footer>
