<div class="container">
  <div class="section">
    <div class="counter">
      {{ days }}
    </div>
    <div class="title">Días</div>
  </div>
  <div class="section">
    <div class="counter">
      {{ hours }}
    </div>
    <div class="title">Horas</div>
  </div>
  <div class="section">
    <div class="counter">
      {{ minutes }}
    </div>
    <div class="title">Minutos</div>
  </div>
  <div class="section">
    <div class="counter">
      {{ seconds }}
    </div>
    <div class="title">Segundos</div>
  </div>
</div>
