<div id="sponsors" class="container">
  <div class="container-general">
    <div class="text">
      <div class="general">
        {{ config.i18n.description }}
      </div>
      <div class="titleBlue">
        {{ config.i18n.title }}
      </div>
      <div class="info">
        {{ config.i18n.infoData }}
      </div>
    </div>
  </div>
  <div
    class="carousel-container"
    (mouseenter)="pauseAutoPlay()"
    (mouseleave)="resumeAutoPlay()"
  >
    <div
      class="carousel-wrapper"
      [style.transform]="'translateX(' + translateValue + '%)'"
    >
      <div
        *ngFor="let image of config.pathImages; let i = index"
        class="carousel-slide"
      >
        <img [src]="image.src" [alt]="image.alt" class="carousel-image" />
        <div class="type">
          <img [src]="image.srcType" alt>
          <!-- <div class="footer-text">
            {{ image.type }}
          </div> -->
        </div>
      </div>
    </div>
    <div class="carousel-dots">
      <button
        *ngFor="let dot of config.pathImages; let i = index"
        class="carousel-dot"
        [class.active]="currentIndex === i"
        (click)="goToSlide(i)"
      ></button>
    </div>

    <button
      class="carousel-arrow prev"
      (click)="prev()"
      *ngIf="config.pathImages.length > 1"
    >
      ❮
    </button>
    <button
      class="carousel-arrow next"
      (click)="next()"
      *ngIf="config.pathImages.length > 1"
    >
      ❯
    </button>
  </div>
  <div class="line"></div>
</div>
