<div *ngIf="!isSmallScreen" class="top-bar">
  <div>
    <span>
      <img class="img-phone" src="assets/images/phone.png" alt />

      {{ config.i18n.phone }}</span
    >
    |
    <span>
      📧 <a href="mailto:bzelaya@lexincorp.com">{{ config.i18n.mail }}</a>
    </span>
  </div>
</div>

<div *ngIf="isSmallScreen" class="top-bar-small-screens">
  <div>
    <span>
      <img class="img-phone" src="assets/images/phone.png" alt />
      {{ config.i18n.phone }}</span
    >
    <br />
    <span>
      📧 <a href="mailto:bzelaya@lexincorp.com">{{ config.i18n.mail }}</a>
    </span>
  </div>
</div>

<nav>
  <div class="logo">
    <img class="img" src="assets/images/logo-congreso.png" alt />
  </div>
  <div class="hamburger" (click)="toggleMenu()">☰</div>
  <ul [ngClass]="{ open: isMenuOpen }">
    <li
      *ngFor="let item of config.i18n.menuItems"
      (click)="scrollTo(item.target); toggleMenu()"
    >
      {{ item.title }}
    </li>
  </ul>
  <div class="button-buy">
    <button class="primary-button">Comprar Entradas</button>
  </div>
</nav>
