<div class="top-bar">
  <div>
    <span
      >📞 {{ config.i18n.phone }}
      <!-- <a [href]="whatsappLink" target="_blank" rel="noopener noreferrer">
        {{ config.i18n.phone }}
      </a> -->
    </span>
    |
    <span
      >📧
      <a href="mailto:bzelaya@lexincorp.com">{{ config.i18n.mail }}</a></span
    >
  </div>
</div>
<nav>
  <div class="logo">
    <img class="img" src="assets/images/logo-congreso.png" alt />
  </div>
  <div class="hamburger">☰</div>
  <ul>
    <li
      *ngFor="let item of config.i18n.menuItems"
      (click)="scrollTo(item.target)"
      onkeypress=""
    >
      {{ item.title }}
    </li>
  </ul>
  <div class="button-buy">
    <button class="primary-button">Comprar Entradas</button>
  </div>
</nav>
