nav {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .menu {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #444;
  position: absolute;
  top: 60px;
  border-radius: 5px;
}

nav .menu.open {
  display: flex;
}

nav .hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: auto;
  padding: 0.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-left: 50px;
  padding-right: 50px;
}

nav ul li {
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 5px;
    padding: 1rem;
  }

  nav ul.open {
    display: flex;
  }

  nav .hamburger {
    display: block;
  }

  .top-bar {
    display: none;
  }

  .top-bar-small-screens {
    display: flex;
  }

  .button-buy {
    display: none;
  }
}

.button-buy {
  display: none;
}

.img {
  width: 100%;
}

.logo {
  width: 250px;
}

.top-bar,
.top-bar-small-screens {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  padding-right: 15%;
}

.top-bar a,
.top-bar-small-screens a {
  color: white;
  text-decoration: none;
  margin-left: 0.5rem;
}

.top-bar-small-screens {
  flex-direction: column;
}