<div
  class="banner"
  style="background-image: url(assets/images/47.png)"
  id="start"
>
  <div class="left-column">
    <app-counter></app-counter>
  </div>
  <div class="right-column">
    <h1>{{ config.i18n.title }}</h1>
    <p>
      <strong>{{ config.i18n.date }} {{ config.i18n.ubication }}</strong>
    </p>
    <p>{{ config.i18n.infoData }}</p>
    <div class="buttons">
      <button class="primary-button">Comprar Entradas</button>
      <button class="secondary-button">Ver Agenda</button>
    </div>
  </div>
</div>
